<h1>Manatee Brewery</h1>

<h2>Drink Me!</h2>

<ul>
    {{#each brew_data}}
    {{#unless quaffed}}
    {{!-- {{> cats/cat-block sleep=true}} --}}
    {{> brews/brew-block quaffed=true}}
    <li>{{beer_name}}</li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Drinks you've dRuNk</h2>

<ul>
    {{#each brews}}
    {{#if quaffed}}
    {{> brews/brew-block quaffed=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Request a beer</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Beer Name:</label>
        <input type="text" id="ca" name="name">
    </div>


    <button type="submit">Pour my beer, barkeep!</button>
</form>